name: Deploy to production

on:
  push:
    branches: [main, dev]

jobs:
  print-hello-world:
    runs-on: ubuntu-latest
    steps:
      - name: Print Hello World
        run: echo "Hello World!"

  second-test:
    needs: print-hello-world
    runs-on: ubuntu-latest
    steps:
      - name: Second Test
        run: echo "Second test executed after the first job"
    env:
      SECRET_BACKEND: ${{ secrets.SECRET_BACKEND }}
